* {
  margin: 0;
  padding: 0;
  transition: all .2s ease-out; }
  *:focus {
    outline: none !important; }

button {
  cursor: pointer; }
  button:active {
    opacity: .5; }

.dibT, .di3Calc .calc-header-left, .di3Calc .calc-header-right, .di3Calc .calc-body-calcBox, .di3Calc .calc-body-mathFunc, .di3Calc .calc-body-calcBtn, .di3Calc .calc-body-mathFunc .item, .di3Calc .calc-body-calcBtn .item {
  display: inline-block;
  vertical-align: top; }

.btn {
  border: none;
  background: none;
  border-radius: 25px; }

.btnBg-1 {
  background: #514946; }

.btnBg-2 {
  background: #26221F; }

.btnBg-3 {
  background: #92887F; }

html, body {
  height: 100%;
  min-width: 300px;
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 0;
  background: linear-gradient(to bottom right, red, blue); }

.di3Calc {
  width: 48%;
  height: 96%;
  margin: 1%;
  display: inline-block;
  vertical-align: top; }
  .di3Calc .calc-header {
    background: #F4F3F1;
    overflow: hidden;
    height: 15%;
    font-size: 0; }
    .di3Calc .calc-header-left {
      width: 13%;
      height: 100%;
      font-size: 16px; }
      .di3Calc .calc-header-left .item {
        height: 33%; }
        .di3Calc .calc-header-left .item button {
          height: 100%;
          width: 40px;
          font-size: 1.5em; }
          .di3Calc .calc-header-left .item button.active {
            box-shadow: none;
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
    .di3Calc .calc-header-right {
      width: 87%;
      height: 100%;
      font-size: 16px;
      text-align: right; }
      .di3Calc .calc-header-right .result {
        font-size: 6.1em;
        padding: 0 15px 0 0;
        height: 115px; }
      .di3Calc .calc-header-right .calcAll {
        font-size: 1em;
        padding: 0 15px 0 0; }
  .di3Calc .calc-body {
    font-size: 0;
    height: 85%; }
    .di3Calc .calc-body.active .calc-body-calcBox {
      width: 0;
      margin: 0 0 0 -1px; }
      .di3Calc .calc-body.active .calc-body-calcBox .edit {
        display: none; }
    .di3Calc .calc-body.active .calc-body-mathFunc {
      width: 45%; }
    .di3Calc .calc-body.active .calc-body-calcBtn {
      width: 55%; }
    .di3Calc .calc-body-calcBox, .di3Calc .calc-body-mathFunc, .di3Calc .calc-body-calcBtn {
      font-size: 0;
      box-sizing: border-box;
      padding: 15px 0; }
    .di3Calc .calc-body-calcBox {
      width: 30%;
      height: 100%;
      background: #282421;
      border-right: 1px solid #484441;
      position: relative; }
      .di3Calc .calc-body-calcBox .calc-history {
        height: 96%;
        overflow-x: hidden; }
        .di3Calc .calc-body-calcBox .calc-history .iteration {
          font-size: 16px;
          border-bottom: 1px solid #484441;
          padding: 10px 0; }
          .di3Calc .calc-body-calcBox .calc-history .iteration .top,
          .di3Calc .calc-body-calcBox .calc-history .iteration .bottom {
            padding: 0 10px; }
          .di3Calc .calc-body-calcBox .calc-history .iteration .top {
            font-size: 1em;
            color: #6E6A67; }
          .di3Calc .calc-body-calcBox .calc-history .iteration .bottom {
            color: #BDB9B6;
            font-size: 2em; }
      .di3Calc .calc-body-calcBox .edit {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 5%;
        border-top: 1px solid #484441; }
        .di3Calc .calc-body-calcBox .edit button {
          width: 100%;
          height: 100%;
          color: #6E6A67;
          text-align: left;
          box-sizing: border-box;
          padding: 10px; }
    .di3Calc .calc-body-mathFunc {
      width: 30%;
      height: 100%;
      background: #332E2B; }
      .di3Calc .calc-body-mathFunc .item {
        font-size: 16px;
        width: 31%;
        height: 9%;
        margin: 1.5% 1.1%;
        box-sizing: border-box; }
        .di3Calc .calc-body-mathFunc .item button {
          width: 100%;
          height: 100%;
          color: #9D9592;
          font-size: 1em;
          padding: 4px 0; }
          .di3Calc .calc-body-mathFunc .item button sup,
          .di3Calc .calc-body-mathFunc .item button sub {
            font-size: .5em; }
    .di3Calc .calc-body-calcBtn {
      width: 40%;
      height: 100%;
      background: #332E2B; }
      .di3Calc .calc-body-calcBtn .item {
        font-size: 16px;
        width: 22%;
        height: 18%;
        margin: 2% 1.5%;
        box-sizing: border-box;
        position: relative; }
        .di3Calc .calc-body-calcBtn .item button {
          width: 100%;
          height: 100%;
          color: #E0DCD9;
          font-size: 3em;
          padding: 4px 0; }
          .di3Calc .calc-body-calcBtn .item button.equal {
            height: 209%;
            position: absolute;
            background: #C5631C; }

@media screen and (max-width: 700px) {
  .di3Cal .calc-body-mathFunc .item {
    font-size: 8px;
    width: 47%;
    height: 6.5%;
    margin: 1% 1.1%; } }
